:root {
  --green: #008000;
  --white: #fff;
  --blue-skye: #00BFFF;
}

body {
  background-image: url(/assets/images/bg-geometry.webp) ;
}

/*LOGO / NAVBAR*/

  #navbar a.active {
    border-bottom: 1px solid rgb(8, 129, 145);
  }

 #img-logo{
  width: 40px;
 }

  /*TOP-RANK*/

  #top-rank{
    border: 1px solid red;
    background-color: var(--white);
    height: 920px;
  }

  #logo-rank{
    border: 1px solid black ;
    width: 80px;
  }


  /*Barra de pesquisa*/

.barra-pesquisa h3{
  
}



