:root {
  --green: #008000;
  --white: #fff;
  --blue-skye: #00BFFF;
}

body {
  background-image: url(/assets/images/bg-geometry.webp) ;

  font-family: "Reddit Mono", monospace;
  font-style: normal;
}

.buttom-link :hover{
  border-radius: 1px solid var(--blue-skye) ;
}

