:root {
  --green: #008000;
  --white: #fff;
  --blue-skye: #00BFFF;
}

body {
  background-image: url(/assets/images/bg-geometry.webp) ;

  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

/*NAVBAR*/

#navbar li a:hover{
  background-color:var(--white);
  color: #00BFFF;
  border-radius: 5px;
}

/*BARRA DE PESQUISA*/

#border-pesquisa {
  border: 1px solid #bbb;
  border-radius: 5px;
}

/*DESCRIÇÃO DA PÁGINA*/
#border-description{
  border: 1px solid #bbb;
  border-radius: 5px;
}

